@model ConsoleAppProject.App02.BMI
@{
    ViewData["Title"] = "BMI";
}
<header class="jumbotron">
<h1>BMI Calculator</h1>
<h2>By Kaleem Shah</h2>
<p>
    This application will use your body weight and height to calculate a BMI index which can be used to classify your health risks
</p>
</header>
<section>
    <form method="post">
        <h2>Height</h2>
        <p>Please enter your height using metric or imperial units</p>
        <p>
            <input type="number" placeholder="Feet" asp-for="@Model.Feet" />
            <input type="number" placeholder="Inches" asp-for="@Model.Inches" />
        </p>
        <p>
            <input type="number" placeholder="Metres" asp-for="@Model.Metres" />
        </p>
        <h2>Weight</h2>
        <p>
            Please enter your weight using metric or imperial units
        </p>
        <p>
            <input type="number" placeholder="Stone" asp-for="@Model.Stones" />
            <input type="number" placeholder="Pounds" asp-for="@Model.Pounds" />
        </p>
        <p>
            <input type="number" placeholder="Kilograms" asp-for="@Model.Kilograms" />
        </p>
        <p>
            <button class="btn btn-success" type ="submit">Calculate</button>
        </p>

    </form>
</section>